@charset "UTF-8";

@font-face {
    font-family: unifont;
    src: url(./assets/fonts/unifont/unifont.otf);
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Noto Sans", unifont, sans-serif;
}

#main {
    padding: 1em;
    text-align: center;
    width: 500px;
    height: 500px;
    position: relative;
    top: 50vh;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border: 2px solid #D3D6F2;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(65, 83, 237, 0.5);
}

#warning {
    width: 760px;
    height: 32px;
    text-align: center;
    background-color: #F0A1A2;
    padding: 0.5em;
    border: 2px solid #ED585B;
    border-radius: 15px;
    position: fixed;
    top: 1em;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

#warning-text {
    margin: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

button {
    background-color: #4153ED;
    border-radius: 10px;
    color: white;
    text-align: center;
    padding: 0.5em;
    border: 2px solid #3240BA;
    transition: background-color 200ms, border-color 200ms;
}

button:hover {
    background-color: #3240BA;
    border-color: #1E266E;
}

#generate {
    cursor: pointer;
}

#download {
    background-color: #626370;
    border-color: #36363D;
    cursor: not-allowed;
}
